.button {
    width: 78%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(156 39 176);
    color: white;
}

.button:hover {
    transition: transform .3s;
    transform: scale(1.05);
}