.container {
    margin: 0 auto;
    height: 100vh;
    padding: 60px;
    display: flex;
    gap: 1rem;
    background-color: rgba(15,23,42);
}

.header {
    width: 50%;
    color: white;
    padding-left: 20px;
}

.whatIdo {
    color: #c6c6c6;
}

.main {
    width: 50%;
    color: #c6c6c6;
}

.icons {
    padding-top: 25px;
    display: flex;
    gap: 1rem;
}

.githubIcon,
.faInstagram,
.faLinkedin {
    color: grey;
    transition: color 0.3s;
}

.githubIcon:hover ,
.faInstagram:hover,
.faLinkedin:hover {
    color: white;
}

@media (max-width: 600px) {
    .container {
        height: unset;
        padding: 10px;
        display: block;
        text-align: center;
    }

    .header {
        width: unset;
        padding-left: 0;
        margin-bottom: 30px;
    }

    .icons {
        justify-content: center;
    }

    .main {
        width: unset;
    }
}