.input {
    width: 79%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 18px;
}

.input:hover {
    background-color: #e9e9e9;
    color: rgb(13, 0, 128);
}

.input:focus {
    outline: 2px solid rgba(26, 26, 194, 0.8);
}