.container {
  position: absolute;
  top: 70px;
  right: 30px;
  display: flex;
  gap: 10px;
  z-index: 1;
}

.btn {
  border: none;
  background-color: inherit;
  color: #797979;
  cursor: pointer;
  transition: color 0.3s;
}
.btn:hover {
  color: white;
}

@media (max-width: 375px) {
  .container {
    top: 48px;
    right: 20px;
  }
}